<body class ="mainFont">
    <header class="banner">
        
    </header>
    <div class="main">
        <h1>My Food Journal</h1>
       
        <p>
            <% if current_user %>
            <h3>
                Welcome <%= current_user.name %>!
            </h3>
                <%= link_to 'View My Journal', controller: 'journals', class: 'button' %>
           <br>
                <br>
                <br>
                <br>
                Not <%= current_user.name %>?
                <%= link_to "Log out", logout_path, class: 'button' %>
            <% else %>
            New to 'My Food Journal?' Sign-up below! Otherwise, please login to view your journal.
            <br>
            <br>
                <%= link_to "Sign Up", signup_path, class: 'button' %>
                <%= link_to "Log In", login_path, class: 'button' %>
            <% end %>
            
        </p>
    </div>
    <footer>
        
    </footer>
</body>