<%= form_for([@journal, @journal.motivates.build]) do |f| %>
     <p>
        <%= f.label :date, "Date:" %><br>
        <%= f.date_select :date %>
    </p>
    <p>
        <%= f.label "Message:" %><br>
        <%= f.text_area :message, id: "reflection_text" %>
    </p>
    <p>
        <%= f.submit   "Create Reflection" %>
    </p>
<% end %>
