<html>
  <body class ="mainFont">
    <header class = "banner">
    
    </header>
    
    <div class="main">
      
     <div class="row">
      <h1>Food Entries</h1>
      <div id="search-div">
          <%= form_tag journals_path, method: :get do %>
           <%= text_field_tag 'search[date_from]', @search.date_from %>
           <%= text_field_tag 'search[date_to]', @search.date_to %>
           <%= submit_tag 'Search', class: 'button' %>
          <% end %>
    </div>
      </div>
      <br>
      <div class="tableDiv">
        <table id="index_table">
          <tr id = "tableHeader">
            <th>Date</th>
            <th>Meal Type</th>
            <th>Food Item</th>
            <th>Serving Size</th>
            <th>Calories</th>
            <th>Protein</th>
            <th>Carbs</th>
            <th>Fat</th>
            <th>Author</th>
            <th>Tools</th>
          </tr>

        <% @journals.each do |journal| %>
          <tr>
            <td><%= journal.date.strftime("%m-%d-%Y") %></td>
            <td><%= journal.meal_type %></td>
            <td><%= journal.food_item %></td>
            <td><%= journal.serving %>g</td>
            <td><%= journal.cal %></td>
            <td><%= journal.prot %>g</td>
            <td><%= journal.carbs %>g</td>
            <td><%= journal.fats %>g</td>
            <td><% if journal.user %>
                  <%= journal.user.name %>
                <% end %>
            </td>
            <td id="tools">
            
                <%= link_to icon('fas', 'eye'), journal_path(journal), class: 'button-icon' %>
                <%= link_to icon('fas', 'edit'), edit_journal_path(journal), class: 'button-icon' %>
                <%= link_to icon('fas', 'trash-alt'),
                                      journal_path(journal), 
                                      method: :delete, 
                                      data: { confirm: 'Are you sure?' }, class: 'button-icon' %></td>
          </tr>
        <% end %>
        </table>
      </div>
      <br>
      <h3>Total Calories: <%= total_cal %></h3>
      <h3>Total Protein: <%= total_protein %>g</h3>
      <h3>Total Fat: <%= total_fat %>g</h3>
      <h3>Total Carbs: <%= total_carbs %>g</h3>
      
      <%= link_to 'New Journal Entry', new_journal_path, class: 'button' %>
      <br>
      <br>
      <br>
      <p>
      <%= link_to "Log out", logout_path, class: 'button' %>
      </p>
    </div>
  </body>
</html>