<html>
  <body class ="mainFont">
    <header class = "banner">
    
    </header>
    
    <div class="main">
      <h1>Food Entries</h1>
      
      <div class="tableDiv">
        <table>
          <tr id = "tableHeader">
            <th>Meal Type</th>
            <th>Food Item</th>
            <th>Serving Size</th>
            <th>Calories</th>
            <th>Proteins</th>
            <th>Carbs</th>
            <th>Fats</th>
            <th>Author</th>
            <th>Tools</th>
          </tr>

        <% @journals.each do |journal| %>
          <tr>
            <td><%= journal.meal_type %></td>
            <td><%= journal.food_item %></td>
            <td><%= journal.serving %></td>
            <td><%= journal.cal %></td>
            <td><%= journal.prot %></td>
            <td><%= journal.carbs %></td>
            <td><%= journal.fats %></td>
            <td><% if journal.user %>
                  <%= journal.user.name %>
                <% end %>
            </td>
            <td id="tools">
                <%= link_to 'Show', journal_path(journal), class: 'button' %>
                <%= link_to 'Edit', edit_journal_path(journal), class: 'button' %>
                <%= link_to 'Delete', 
                                      journal_path(journal), 
                                      method: :delete, 
                                      data: { confirm: 'Are you sure?' }, class: 'button' %></td>
          </tr>
        <% end %>
        </table>
      </div>
      <br>
      <h3>Total Calories: <%= total_cal %></h3>
      <h3>Total Protein: <%= total_protein %></h3>
      <h3>Total Fat: <%= total_fat %></h3>
      <h3>Total Carbs: <%= total_carbs %></h3>
      
      <%= link_to 'New Journal Entry', new_journal_path, class: 'button' %>
    </div>
  </body>
</html>