<body>
<header class = "banner">
    
</header>
<main>
<h1>Food Entries</h1>
<%= link_to 'New Journal Entry', new_journal_path %>


<p>

  <table>
    <tr>
      <th>Title</th>
      <th>Text</th>
    </tr>
    
  <% @journals.each do |journal| %>
    <tr>
      <td><%= journal.title %></td>
      <td><%= journal.text %></td>
      <td><%= link_to 'Show', journal_path(journal) %></td>
      <td><%= link_to 'Edit', edit_journal_path(journal) %></td>
    </tr>
  <% end %>
  
  </table>
  
  </main>
</body>
  
</table>
</p>