<htnml>
    <body class = "mainFont">
        <header class="banner">
       
        </header>
        
        <div class ="main">
         
         <h2>Review your entry:</h2>
            <p>
                <strong>Meal Type:</strong>
                <%= @journal.meal_type %>
            </p>

            <p>
                <strong>Food Name:</strong>
                <%= @journal.food_item %>
            </p>

            <p>
                <strong>Serving Size:</strong>
                <%= @journal.serving %>
            </p>

            <p>
                <strong>Calories:</strong>
                <%= @journal.cal %>
            </p>

            <p>
                <strong>Proteins:</strong>
                <%= @journal.prot %>
            </p>

            <p>
                <strong>Carbs:</strong>
                <%= @journal.carbs %>
            </p>

            <p>
                <strong>Fats:</strong>
                <%= @journal.fats %>
            </p>

            <p>
                <%= link_to 'Home', journals_path, class: 'button' %>
            </p>
        </div>
    </body>
</html>