<html>
    <body class = "mainFont">
        <header class="banner">
       
        </header>
        
        <div class ="main">
         
         <h2>Food entry:</h2>
            <p>
                <strong>Meal Type:</strong>
                <%= @journal.meal_type %>
            </p>

            <p>
                <strong>Food Name:</strong>
                <%= @journal.food_item %>
            </p>

            <p>
                <strong>Serving Size:</strong>
                <%= @journal.serving %>g
            </p>

            <p>
                <strong>Calories:</strong>
                <%= @journal.cal %>
            </p>

            <p>
                <strong>Protein:</strong>
                <%= @journal.prot %>g
            </p>

            <p>
                <strong>Carbs:</strong>
                <%= @journal.carbs %>g
            </p>

            <p>
                <strong>Fat:</strong>
                <%= @journal.fats %>g
            </p>
            <br>
            
    <% if @journal.motivates.present? %>
    <h3>Reflections:</h3>

        <div class="tableDiv">
            <table id = "reflection_table">
                <tr id = "tableHeader">
                    <th>Date</th>
                    <th>Reflection</th>
                    <th>Tools</th>
                </tr>
                <% @journal.motivates.each do |motivate| %>
                 <tr>
                     <% if motivate.date? %>
                      <td><%= motivate.date.strftime("%m-%d-%y") %></td>
                    <% else %>
                     <td>Date Placeholder</td>
                    <% end %>
                    
                    <td><%= motivate.message %></td>
                    <td id="tools">
                        <%= link_to icon('fas', 'trash-alt'), [motivate.journal, motivate],
                        method: :delete,
                        data: { confirm: 'Are you sure?' }, class: 'button-icon' %>
                     </td>
                  </tr>
                <% end %>
            </table>
        </div>
    <% end %>
            <br>
            <h3>Add New Reflection:</h3>
            <%= render 'motivates/form' %>

            <p>
                <%= link_to 'Home', journals_path, class: 'button' %>
            </p>
        </div>
    </body>
</html>
