<htnml>
    <body class = "mainFont">
        <header class="banner">
       
        </header>
        
        <div class ="main">
         
         <h2>Review your entry:</h2>
            <p>
                <strong>Meal Type:</strong>
                <%= @journal.meal_type %>
            </p>

            <p>
                <strong>Food Name:</strong>
                <%= @journal.food_item %>
            </p>

            <p>
                <strong>Serving Size:</strong>
                <%= @journal.serving %>
            </p>

            <p>
                <strong>Calories:</strong>
                <%= @journal.cal %>
            </p>

            <p>
                <strong>Proteins:</strong>
                <%= @journal.prot %>
            </p>

            <p>
                <strong>Carbs:</strong>
                <%= @journal.carbs %>
            </p>

            <p>
                <strong>Fats:</strong>
                <%= @journal.fats %>
            </p>
            
            <h2>Motivation: </h2>
            <% @journal.motivates.each do |motivate| %>
                <p>
                    <strong> Motivater: </strong>
                    <%= motivate.motivator %>
                </p>
                
                <p>
                    <strong> Motivation: </strong>
                    <%= motivate.message %>
                </p>
            <% end %>
            
            <h2>Add motivation!</h2>
            <%= form_for([@journal, @journal.motivates.build]) do |f| %>
            <p>
                <%= f.label :motivator %><br>
                <%= f.text_field :motivator %>
            </p>
            <p>
                <%= f.label :message %><br>
                <%= f.text_area :message %>
            </p>
            <p>
                <%= f.submit %>
            </p>
            <% end %>


            <p>
                <%= link_to 'Home', controller: 'journals' %>
            </p>
        </div>
    </body>
</html>