<p>
    <strong>Food Name::</strong>
    <%= @journal.title %>
</p>

<p>
    <strong>Meal Type:</strong>
    <%= @journal.text %>
</p>

<p>
    <strong>Serving Size:</strong>
    <%= @journal.text %>
</p>

<p>
    <strong>Calories:</strong>
    <%= @journal.text %>
</p>

<p>
    <strong>Protiens:</strong>
    <%= @journal.text %>
</p>

<p>
    <strong>Carbs:</strong>
    <%= @journal.text %>
</p>

<p>
    <strong>Fats:</strong>
    <%= @journal.text %>
</p>

<p>
    <%= link_to 'Home', controller: 'journals' %>
</p>
